services:
  mqtt:
    image: eclipse-mosquitto:latest
    container_name: mqtt_broker
    restart: unless-stopped
    ports:
      - "1883:1883" # MQTT default port
      - "8080:8080" # eclipse mosquitto Control Center port
      - "8883:8883" # MQTT over SSL port
    volumes:
      - ./eclipse-mosquitto-data:/opt/eclipse-mosquitto/data
      - ./mqtt.conf:/mosquitto/config/mosquitto.conf
    networks:
      - advanced_data_management
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  redis:
    image: redis/redis-stack:latest
    container_name: redis_container
    restart: unless-stopped
    ports:
      - "6379:6379" # Redis default port
      - "8001:8001" # RedisInsight port
    volumes:
      - ./redis-data:/data
      - ./redis.conf:/usr/local/etc/redis/redis.conf
    command: [ "redis-server", "/usr/local/etc/redis/redis.conf" ]
    networks:
      - advanced_data_management
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  redpanda_broker:
    image: docker.redpanda.com/redpandadata/redpanda:latest
    container_name: redpanda_broker
    restart: always
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    networks:
      - advanced_data_management
    command:
      - redpanda start
      - --smp 1
      - --overprovisioned
      - --kafka-addr internal://0.0.0.0:9092,external://0.0.0.0:19092
      - --advertise-kafka-addr internal://redpanda_broker:9092,external://localhost:19092
      - --pandaproxy-addr internal://0.0.0.0:8082,external://0.0.0.0:18082
      - --advertise-pandaproxy-addr internal://redpanda_broker:8082,external://localhost:18082
      - --schema-registry-addr internal://0.0.0.0:8081,external://0.0.0.0:18081
      - --rpc-addr redpanda_broker:33145
      - --advertise-rpc-addr redpanda_broker:33145
    ports:
      - 18081:18081
      - 18082:18082
      - 19092:19092
      - 29092:29092
      - 19644:9644
    volumes:
      - ./redpanda-data:/var/lib/redpanda/data
    healthcheck:
      test: [ "CMD-SHELL", "rpk cluster health | grep -E 'Healthy:.+true' || exit 1" ]
      interval: 15s
      timeout: 3s
      retries: 5
      start_period: 5s

  redpanda-console:
    image: docker.redpanda.com/redpandadata/console:latest
    container_name: redpanda_console
    restart: always
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    networks:
      - advanced_data_management
    entrypoint: /bin/sh
    command: -c "echo \"$$CONSOLE_CONFIG_FILE\" > /tmp/config.yml; /app/console"
    environment:
      CONFIG_FILEPATH: /tmp/config.yml
      CONSOLE_CONFIG_FILE: |
        kafka:
            brokers: ["redpanda_broker:9092"]
        schemaRegistry:
            enabled: true
            urls: ["http://redpanda_broker:8081"]
        redpanda:
          adminApi:
            enabled: true
            urls: ["http://redpanda_broker:9644"]
    ports:
      - 8087:8080
    depends_on:
      - redpanda_broker

  redis_hydration:
    image: docker.redpanda.com/redpandadata/connect:latest
    container_name: redis_hydration
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    depends_on:
      - mqtt
      - redis
    networks:
      - advanced_data_management
    volumes:
      - ./redis_hydration.yaml:/etc/connect.yaml

  availability_hydration:
    image: docker.redpanda.com/redpandadata/connect:latest
    container_name: availability_hydration
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    depends_on:
      - mqtt
      - redpanda_broker
    networks:
      - advanced_data_management
    volumes:
      - ./pre_hydration.yaml:/etc/connect.yaml

    # OPC UA Simulation Server

  opcua_stack:
    build: .
    container_name: opcua_stack
    hostname: opcua_stack
    restart: unless-stopped
    depends_on:
      - mqtt
    networks:
      - advanced_data_management
    ports:
      - "52599:52520"

  hydration_agent:
    build: .
    container_name: hydration_agent
    restart: unless-stopped
    depends_on:
      - mqtt
      - redis
      - redpanda_broker
    networks:
      - advanced_data_management
    command: >
      bash -c "echo 'Starting HydrationUtil...' && java --add-opens java.base/java.net=ALL-UNNAMED \
      -cp HydrationUtil-jar-with-dependencies.jar:lib/* \
      com.prosysopc.ua.samples.util.HydrationUtil"


  timescaledb:
    image: timescale/timescaledb:latest-pg16
    container_name: timescaledb
    restart: always
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=passwort123
      - POSTGRES_DB=mydb
    ports:
      - "5432:5432"
    networks:
          - advanced_data_management


  timescale_agent:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: timescale_agent
    restart: unless-stopped
    depends_on:
      - redpanda_broker
      - timescaledb
    networks:
      - advanced_data_management
    command: >
      bash -c "echo 'Starting TimescaleUtil...' && java --add-opens java.base/java.net=ALL-UNNAMED \
      -cp TimescaleUtil-jar-with-dependencies.jar:lib/* \
      com.prosysopc.ua.samples.util.TimescaleUtil"



  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin
    restart: always
    environment:
      - PGADMIN_DEFAULT_EMAIL=admin@example.com
      - PGADMIN_DEFAULT_PASSWORD=passwort123
    ports:
      - "5050:80"
    depends_on:
      - timescaledb
    volumes:
      - ./pgadmin-data:/var/lib/pgadmin
    networks:
      - advanced_data_management

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=passwort123
    depends_on:
      - timescaledb
    networks:
      - advanced_data_management

  redis_init:
    image: redis/redis-stack:latest
    container_name: redis_init
    depends_on:
      - redis
    networks:
      - advanced_data_management

    command:
      - sh
      - -c
      - |
        sleep 5
        printf '%s' '{
          "plant": "Linz Metal Works",
          "energyZone": "Grid-Segment-4",
          "maintenanceTeam": "Team Gamma",
          "maintenanceInterval": "Every 300 hours",
          "machineCategory": "EnergyOptimized"
        }' | redis-cli -h redis_container -x SET machine:energy:context
        echo "Redis energy context initialized"

    restart: "no"




networks:
  advanced_data_management:
    external: true